<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmitterSharp" version="1.1.1.1" targetFramework="net48" />
  <package id="EngineIoClientDotNet" version="0.9.22" targetFramework="net48" />
  <package id="EngineIOSharp" version="2.0.0.1" targetFramework="net48" />
  <package id="H.Engine.IO" version="1.2.11" targetFramework="net48" />
  <package id="H.Socket.IO" version="1.2.11" targetFramework="net48" />
  <package id="H.WebSockets" version="1.2.11" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.2" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net48" version="1.0.2" targetFramework="net48" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="2.2.7" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.2.7" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="SimpleThreadMonitor" version="1.0.2.1" targetFramework="net48" />
  <package id="SocketIOClient" version="3.0.7" targetFramework="net48" />
  <package id="SocketIoClientDotNet" version="0.9.13" targetFramework="net48" />
  <package id="SocketIOSharp" version="2.0.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="7.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net48" />
  <package id="WebSocketSharp.CustomHeaders.CustomHttpServer" version="1.0.2.3" targetFramework="net48" />
</packages>